<h2>Update snippet</h2>
<form method="post" action="/snippet/update/{{id}}">
    <div id="editor">{{snippet}}</div>
    <input name="content" type="hidden" required="true" minlength="1" maxlength="500"></input>
    <!--<textarea rows="5" cols="50" name="content" required="true">{{snippet}}</textarea><br>-->
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Update snippet</button>
</form>
